<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kcode.permissionslib">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

        <activity android:name=".main.RequestActivity"
        android:theme="@style/MyStyle"></activity>
    </application>

</manifest>
